<%- include('./partials/header.ejs', {name: "Home Page"}) %>
<body>
    <div class = "homePage">
    <h1>THRIFTED BOOKS</h1>
    <p>Hi There!</p>
    <p>Welcome to our <b> thrifted bookshop</b>, where you can discover and explore a vast collection of used books at affordable prices. Our shop is dedicated to promoting sustainability and environmental responsibility through the reuse and recycling of books. 
        
        <br> <br> 
        We offer an easy-to-use platform that allows you to view, edit, and update our library of used books. Our collection features a diverse range of titles, spanning various genres and subjects, from classic literature to modern-day bestsellers.</p> 
    <p>Join our community of book lovers today and start exploring our thrifted bookshop. Whether you're looking for a rare find or a beloved classic, we've got you covered. Start browsing now and discover your next favorite read!</p>

    <h4>About Us:</h4>
    <p class = "about">We are a team of three junior developers: Elizabeth Fruciano, Michael Isgro, and Jess Sepulveda. Our goal is to create user-friendly and innovative digital solutions. We believe that collaboration and teamwork are the key to success, and we are excited to share our skills and passion with you. Thank you for visiting our website!</p>
    </div>
</body>
</html>