<%- include("../partials/header.ejs", {name: "Login page"}) %>
<h1>Login to your account</h1>
<form method="POST" action="/signup">
    <label for="email">Email or username:</label>
    <input type="text" name="email" id="email" placeholder="something@gmail.com">
    <br>
    <label for="userName">Username:</label>
    <input type="text" name="userName" id="userName" placeholder="abc123">
    <br>
    <label for="password">Password:</label>
    <input type="text" name="password" id="password">
    <br>
    <input type="submit" value="Login to your account">
</form>